<%- include('partials/header'); -%>
    
    
        <div class="container">
            <div class="row" style="display:flex; flex-wrap:wrap;">
                    
                    <div class="col-md-4 col-sm-6 mb-2">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1565335020653-1d1c4fc20bbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                            <div class="card-body">
                                <h5 class="card-title"><a href="/TV">TV</a></h5>
                                <p>This is a TV</p>
                            </div>
                        </div>
                    </div> 
                    
                    <div class="col-md-4 col-sm-6 mb-2">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1536353284924-9220c464e262?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                            <div class="card-body">
                                <h5 class="card-title"><a href="">REFRIGERATOR</a></h5>
                                <p>This is a Refrigerator</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-2">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1551761429-8232f9f5955c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                            <div class="card-body">
                                <h5 class="card-title"><a href="">WASHING MACHINE</a></h5>
                                <p>This is a Washing Machine</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-2">
                        <div class="card">
                            <img src=https://images.unsplash.com/photo-1552853160-8ec65527b252?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Air Conditioners</a></h5>
                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-2">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1555618568-bdf0a992c512?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Coolers</a></h5>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6">
                        <div class="card">
                            <img src="" alt="">
                            <div class="card-body">
                                <h5 class="card-title"><a href="">Coolers</a></h5>
                                <p></p>
                            </div>
                        </div>
                    </div>

            </div>
        </div>

    
    
    <%- include('partials/footer'); -%>
    